---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<edamam_app_id>&app_key=<edamam_app_key>&q=musselmanland&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Tue, 15 Nov 2022 05:08:53 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<edamam_app_id>&app_key=<edamam_app_key>&q=&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Tue, 15 Nov 2022 05:08:54 GMT
recorded_with: VCR 6.1.0
